{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
{% include 'nav.html' %}
{% block content %}
{% endblock %}
{% include 'det_footer.html' %}
</div>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>