{% extends 'base2.html' %}
{% load static %}
{% block content %}


<div class="container my_card ">
    <div class="row mt-5 my_card">
        <div class="col-md-3 my_card ">
                   {% for i in all_detail %}
        <div class="my_card">
            <div class="card md-4" style="width: 35rem;">
            <div class="card-body">
                <img src="{{i.img.url}}" height="400px"width="500px">
            </div>
        </div>



        <div class="col-md-4 mt-4 p-4">
           <div class="card md-3-mt-2 p-2 .lead"style="width: 20rem;">
            <div class="card-head .lead">
                <h2 class="card-head .lead">{{ i.title}}</h2>
            </div>
            <div class="card-body">
                <h6 class="card-text">{{i.contacts}}</h6>
                <p class="card-text">{{i.description}}</p>
                <p class="card-text"><small class="text-muted">{{i.email}}</small></p>
                <p class="card-text"><small class="text-muted">{{i.mode}}</small>
                <p class="card-text"><small class="text-muted">{{i.date}}</small>
            </div>
            <div class="card-footer">
            <a href="{% url 'vkapp:add' %}">
                <button type="button" class="btn btn-success">Proceed</button>
                 </a>
            </div>
        </div>
        </div>
</div>
 {% endfor %}
</div>
</div>
</div>
{% endblock %}